.header{
    background-color: black;
}
header{
   
    height: 4rem;
   
    display: flex;
   
    justify-content: flex-end;
    gap: 2rem;
    margin-right: 3rem;
    align-items: center;
   
    
  
  
   
}
.header a{
    text-decoration: none;
    color: white;
}